<html>
    <head>
        <style type="text/css">
@page {
    size: A5;
    margin: 0px;
}
html, body {
    font-family: 'Arial';
    font-size: 10pt;
}
div#card {
    position: absolute;
    width: 8.66140cm;
    height: 5.41020cm;
    bottom: 0cm;
    left: 0cm;
}
p#surname {
    font-weight: bold;
    position: absolute;
    left: 1.6cm;
    top: -.05cm;
}
p#given {
    font-weight: bold;
    position: absolute;
    left: 1.6cm;
    top: .35cm;
}
p#role {
    position: absolute;
    left: 1.6cm;
    top: .82cm;
}
p#callsign {
    font-weight: bold;
    position: absolute;
    left: 3.2cm;
    top: 1.95cm;
}
p#joined {
    position: absolute;
    left: 3.2cm;
    top: 2.7cm;
}
p#issued {
    position: absolute;
    left: 3.2cm;
    top: 3.4cm;
}
p#expiry {
    position: absolute;
    left: 3.2cm;
    top: 4.1cm;
}
p#charity {
    font-size: 5pt;
    position: absolute;
    left: 5cm;
    top: 4.85cm;
}
p#status {
    position: absolute;
    font-size: 120%;
    letter-spacing: 2px;
    text-transform: uppercase;
    left: 5.5cm;
    padding: 0.1cm;
    top: 2cm;
    font-weight: bold;
    color: black;
    text-align: center;
    width: 5.41020cm;
    transform: rotate(-90deg);
    background-color: {{ status_color }};
}
img#image {
    left: 0.3147cm;
    top: 1.8018cm;
    position: absolute;
    width: 2.592cm;
    height: 3.4634cm;
}
img#logo {
    top: -0.7cm;
    left: 5cm;
    position: absolute;
    width: 2.7cm;
    height: 3.6cm;
}
        </style>
    </head>
    <body>
        <div id="card">
            <img id="logo" src="file:///home/cards/sarcards/static/hi_{{ logo }}" />
            <img id="image" src="file:///home/cards/sarcards/static/hi_{{ image }}" />
            <p id="surname">{{ surname }}</p>
            <p id="given">{{ given }}</p>
            <p id="role">{{ role }}</p>
            <p id="callsign">{{ callsign }}</p>
            <p id="joined">{{ joined }}</p>
            <p id="issued">{{ issued }}</p>
            <p id="expiry">{{ expiry }}</p>
            <p id="charity">{{ charity }}</p>
            <p id="status">{{ status }}</p>
        </div>
    </body>
</html>
